body {
    background-color: beige;
    font-size: 100%;
    color: brown;
}
#page_header {
    background-image: url('header.PNG');
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    margin: 0px;
    overflow: auto;
    height: 200px;
}
h2{
    font-size: 2em;
}
#page_header div {
    color: brown;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

#page_header button {
    display: flex; 
    float: right;
}

#navigacija {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    margin-bottom: 10px;
}
#navigacija a {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: brown;
    
    flex-grow: 1;
    flex-basis: 10%;
    flex-shrink: 1;
    
    padding: 10px 10px;
    margin: 10px 5px 0px 5px; 
    background-color: bisque;
    border: solid 2px burlywood;
    border-radius: 4px;
}
#navigacija a:hover {
    background-color: goldenrod;
    color: beige;
}
#page_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#right_nav {
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}
#right_nav a {
    display: block;
    height: 30px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: brown;

    
    padding: 10px 10px;
    background-color: bisque;
    border: solid 2px burlywood;
    border-radius: 4px;
}
#right_nav a:hover {
    background-color: goldenrod;
    color: beige;
}
main{
    background-color: bisque;
    width: 60%;
    margin: 0px 10px 10px 10px;
    padding: 10px;
    text-align: justify;
    min-width: 300px;
}

aside{
    width: 35%;
}

.recept {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}
#slika_jela img{
    width: 80%;
    justify-content: center;
}

#sastojci{
    font-size: 1em;
    color: brown;
    justify-content: center;
}

#postupak{
    font-size: 1em;
    color: brown;
    justify-content: center;
}